body {
    background: #36393F;
    color: #DCDDDE;
}

/*HEADER*/

.streamAndSmash {
    text-align: center;
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #000000;

}

.streamLogo {
    height: 10vh;
    align-self: center;
    margin: 15px 0px 0px 0px;

}


.pageTitle {
    display: flex;
    align-self: center;
    margin: auto;

}


/*BODY*/

.mainBody {
    height: 65vh;
    margin: auto;
    font-weight: bold;
    color: crimson;
    background-image: url(../images/smashLogoCropped.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#home{
    display: block;
}

#rounds{
    display: none;
    overflow-y: scroll;
    width: 375px;
    height: 430px;
    margin: auto;
    text-align: center;
    
}

#leaders{
    display: none;
    overflow-y: scroll;
    width: 375px;
    height: 430px;
    margin: auto;
    text-align: center;
    
}

#rules{
    display: none;
}

.matches{
    text-align: center;
    border-style: ridge;
    border-collapse: collapse;
    border-color: aliceblue;
}

.scores{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-style: ridge;
    border-collapse: collapse;
    border-color: aliceblue;
}

.results{
    text-align: right;
}

/*FOOTER*/

.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-style: solid;
    height: 15vh;
    background: #000000;
}

.navbar-brand {
    display: flex;
    flex-flow: row wrap;

}
