body {
    background: #36393F;
    color: #DCDDDE;

}

/*HEADER*/

.streamAndSmash {
    text-align: center;
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #000000;

}

.streamLogo {
    height: 10vh;
    align-self: center;
    margin: 15px 0px 0px 0px;

}


.pageTitle {
    display: flex;
    align-self: center;
    margin: auto;

}


/*BODY*/

.mainBody {
    height: 65vh;
    margin: auto;
    font-weight: bold;
    color: #DCDDDE;
    background-image: url(../images/smashLogoCropped.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

#home {
    background-color: rgba(33, 33, 33, 0.38);
}

#rounds {
    overflow-y: scroll;
    width: 375px;
    height: 430px;
    margin: auto;
    text-align: center;
    background-color: rgba(33, 33, 33, 0.38);

}

#chat {
    overflow-y: scroll;
    width: 375px;
    height: 430px;
    margin: auto;
    text-align: center;


}

#posts {
    display: flex;
    flex-flow: column nowrap;
}

#leaders {
    overflow-y: scroll;
    width: 375px;
    height: 430px;
    margin: auto;
    text-align: center;
    background-color: rgba(33, 33, 33, 0.38);

}

#rules {
    overflow-y: scroll;
    width: 375px;
    height: 430px;
    margin: auto;
    background-color: rgba(33, 33, 33, 0.38);
}

.ownMessage {
    background-color: rgba(30, 234, 226, 0.49);
    color: black;
    padding: 5px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 10px;
    align-self: flex-end;
    text-align: right;
}

.foreignerMessage {
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    padding: 5px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 10px;
    align-self: flex-start;
    text-align: left;

}

.avatar{
    display: flex;
    align-items: end;
}

.avatar img {
    width: 30px;    
    border-radius: 30px;
}

.matches {
    text-align: center;
    border-style: ridge;
    border-collapse: collapse;
    border-color: aliceblue;
}

.scores {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-style: ridge;
    border-collapse: collapse;
    border-color: aliceblue;
}

.results {
    text-align: right;
}

/*FOOTER*/

.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-style: solid;
    height: 15vh;
    background: #000000;
}

.navbar-brand {
    display: flex;
    flex-flow: row wrap;

}
